#container {
    background-color: white;
    color:black;
    font-family:Helvetica;
    width: 1000px;

    #about {
        position: relative;
        left: 10px;
        top: 10px;
    }
    
    
    #profielfoto {
    position: relative;
    left: 70px;
    top: 10px;
    }
    
  